        :root {
            --bg-body: #909090;
            --bg-sidebar: #ffffff;
            --bg-card: #ffffff;

            --text-main: #1c242f;
            --text-muted: #6b7280;
            --border-color: #e5e7eb;

            --info-bg: #fff6d2;
            --info-border: #e0b500;

            --success-bg: #ebffe5;
            --success-border: #40b31b;

            --dark-green: #163f09;

            --warn-bg: #ffdada;
            --warn-border: #a60000;

            --neutral-bg: #e6e6e6;

            --dark-red: #450c12;

            --preview-bg: #f9fafb;
            --code-bg: #1e1e1e;
            --code-text: #414141;
            --accent: #2563eb;
            --accent-hover: #1d4ed8;
            --success: #40b31b;
            --wrong: #db0015;
            --sidebar-width: 260px;
            --radius: 4px;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        p {
            margin-bottom: 0;
        }

        body {
            font-family: 'Inter', sans-serif;
            background-color: var(--bg-body);
            color: var(--text-main);
            display: flex;
            min-height: 100vh;
            line-height: 1.5;
        }

        /* --- NAVIGATION SIDEBAR (PANEL BOCZNY) --- */
        .sidebar {
            width: var(--sidebar-width);
            background-color: var(--bg-sidebar);
            border-right: 1px solid var(--border-color);
            position: fixed;
            height: 100vh;
            padding: 16px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 12px;
            z-index: 100;
        }


        .nav-links li a {
            display: block;
            padding: 6px 8px;
            color: var(--text-main);
            text-decoration: none;
            font-weight: 500;
            font-size: 1.1rem;
            border-radius: var(--radius);
            transition: all 0.2s ease;
        }

        .nav-links li a:hover {
            background-color: var(--accent);
            color: var(--bg-sidebar);
        }

        .nav-links li > ul > li > a {
            font-size: 0.9em
        }

        /* --- GŁÓWNY KONTENER TREŚCI --- */
        .main-content {
            margin-left: var(--sidebar-width);
            padding: 1px 12px;
            width: calc(1900px - var(--sidebar-width));
            display: flex;
            flex-direction: column;
        }


        /* 3. CODE BLOCK */
        .code-box {
            background-color: var(--code-bg);
            border-radius: var(--radius);
            overflow: scroll;
            display: flex;
            flex-direction: column;
            max-height: 420px;
        }

        /* SIATKA: DWIE KOLUMNY KODU OBOK SIEBIE */
        .code-grid {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            gap: 24px;
            align-items: start;
        }

        /* Responsywność dla wariantu z dwoma kodami */
        @media (max-width: 1024px) {
            .code-grid {
                grid-template-columns: 1fr;
            }
        }

        .code-header {
            background-color: #2d2d2d;
            padding: 8px 16px;
            border-bottom: 1px solid #404040;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .code-header span {
            color: #a3a3a3;
            font-size: 0.75rem;
            font-family: 'Fira Code', monospace;
        }

        .btn-copy {
            background: var(--accent);
            color: white;
            border: none;
            padding: 4px 12px;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            transition: background 0.2s;
        }

        .btn-copy:hover {
            background: var(--accent-hover);
        }

        pre {
            margin: 0;
            padding: 16px;
            overflow-x: auto;
            flex-grow: 1;
            color: #ddd;
        }

        code {
            font-family: 'Fira Code', monospace;
            font-size: 0.85rem;
            color: var(--code-text);
            white-space: pre;
            line-height: 1.4;
        }

        .btn-kopiuj {
            background: #FFF;
            border: 1px solid #0095ff;
            border-radius: 6px;
            padding: 6px 8px;
            color: #0095ff;
            margin: 3px;
        }

        .btn-kopiuj:hover {
            background: #0095ff;
            color: #FFF;
        }

        .btn-kopiuj:active {
            background: #00518a;
        }


        /* --- RESPONSYWNOŚĆ --- */
        @media (max-width: 1024px) {
            body {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
                padding: 12px;
                border-right: none;
                border-bottom: 1px solid var(--border-color);
            }

            .main-content {
                margin-left: 0;
                width: 100%;
                padding: 12px;
            }
        }